.grid-1 {
  display: grid;
  margin: 1rem auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.1fr repeat(2, 1fr); 
  height:100vh;
  grid-gap: 1rem;
}

.item-5 {
grid-column: span 3;
}


.item-1,.item-2,.item-3,.item-4,.item-5, .item-6{
  background: #161A28;
}



html {
  font-size: 62.5%;
  height:100vh
}

body {
  color: #95969A;
  background-color: #23262E !important;
  font-family: "Open Sans", sans-serif;
  height:100vh
}

p {
  margin-top: 0;
  margin-left: 1rem;
  color: #e6e6e6;
  align-self: flex-start;
  font-size: 2rem;
}


.banner {
  grid-column: span 4;
  background-color: #161A28;
}

.banner h5 {
  color: #e6e6e6;
  margin-left: 1%;
  display:'flexbox';
  font-size: 3rem;
  text-transform: uppercase;
}

#card-1, #card-2, #card-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 5rem;

  
}


#card-1 .scale, #card-1 .needle, #card-1 .needle-knob {
  display: none !important;
}

#card-2 .scale, #card-2 .needle, #card-2 .needle-knob {
  display: none !important;
}

#card-3 .scale, #card-3 .needle, #card-3 .needle-knob {
  display: none !important;
}



/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h4 {
  font-size: 2.6rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

h5 {
  font-size: 2.2rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

h6 {
  text-align: right;
  display: inline-block;
  margin-top: 0;
  color: #e6e6e6;
  font-size: 1.8rem;
  vertical-align: middle;
}

